@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
    --color-border: var(--border);
    --radius-lg: var(--radius);
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --border: #e2e8f0;
  --radius: 0.75rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
    --border: #1e293b;
  }
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
