# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
dist
build
.next
.nuxt
.output
.svelte-kit
*.tsbuildinfo

# Coverage
coverage
.nyc_output

# Logs
*.log

# Environment
.env
.env.*

# IDE
.vscode
.idea

# Git
.git

# Markdown files
*.md
